<?xml version="1.0" ?>
<launch>

  <arg name="config_file" />
  <arg name="use_restrictions" />

  <node pkg="rasberry_coordination" name="rasberry_coordination" type="simple_task_executor_node.py" args="$(arg config_file)" output="screen"> 
    <param name="~use_restrictions" value="$(arg use_restrictions)"/>
  </node>

</launch>


